<div class="bs-docs-section">

  <div class="page-header">
    <h1 id="getting-started">Getting started <a class="small" href="//github.com/mgcrea/angular-strap/blob/master/README.md" target="_blank">readme.md</a>
    </h1>
    <code>mgcrea.ngStrap</code>
  </div>

  <div class="callout callout-info">
    <h4 id="project-history">Project history</h4>
    <p>AngularStrap was initially written to provide AngularJS wrapping directives for Twitter Bootstrap. It used to leverage the javascript code written by Bootstrap's contributors to minimize work, retro-compatibility issues & time to market.</p>
    <p>While it worked pretty well, it required a big javascript payload: both jQuery & Twitter Bootstrap libraries. When the 1.2 release of AngularJS showed up with the ngAnimate module, greatly simplifying DOM manipulation, we knew it was time for a rewrite!</p>
  </div>

  <h2 id="project-quickstart">Quick Start</h2>
  <p>Install and manage AngularStrap with <a href="http://bower.io">Bower</a>.</p>
  <div class="highlight">
    <pre>
      <code class="bash" highlight-block="">
        $ bower install angular-strap
      </code>
    </pre>
  </div>

  <h2 id="project-contribute">Contribute</h2>
  <p>Build and work on AngularStrap with <a href="http://grunt.io">Grunt</a>.</p>
  <div class="highlight">
    <pre>
      <code class="bash" highlight-block="">
        // Serve and watch docs, ideal to hack!
        $ grunt serve
        // Continuous integration
        $ grunt karma:server
        // Build AngularStrap
        $ grunt build
      </code>
    </pre>
  </div>

  <div class="callout callout-info">
    <h4>Animations</h4>
    <p>AngularStrap leverages AngularJS <code>ngAnimate</code> module to provide animations to the directives. Therefore, it requires to load custom CSS code as <code>ngAnimate</code> comes with a very specific markup.</p>
    <p>The docs currently use the (unreleased) <code>AngularMotion</code> project that provides ready to go animations for AngularJS.</p>
  </div>

</div>